

{% extends "home/base.html" %}
{% load custom_tags %}
{% load static %}

{% block body %}
<section>
    <div class="container-fluid " style="background-color:#f7f7f7; padding-top: 200px; padding-bottom: 10px; ">
        <div class="container">
            <h3 class="text-left" style="color: #737373;  ">WHY US</h3>
        </div>
    </div>
</section>


<div class="row-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="fixed-btn">
                <p><a href="{% url 'home:applynow' %}" style="color: black;">Apply Now

                    </a></p>
            </div>
            <style>
                .fixed-btn {
                    position: fixed;
                    bottom: 10%;

                    background: #00ccff;
                    width: 180px;
                    height: 45px;
                    right: 2.5%;
                    line-height: 45px;
                    text-align: center;
                    border-radius: 3px;
                    box-shadow: 4px 4px 4px #0a78aa;
                    cursor: pointer;
                }

                .fixed-btn p {
                    text-transform: uppercase;
                    font-family: arial;
                    font-weight: 900;
                    color: #fff;
                }

                .fixed-btn:active {
                    box-shadow: 0 0;
                }
            </style>

            <div class="themesflat-headings style-1 clearfix text-justify padding-left-32" class="container"
                style="color: black; padding-top: 30px;">

                <p class="sub-heading clearfix justify-content"
                    style="color:black; padding: 30px 0; font-family: Montserrat; font-size: 20px; ">
                    Founded by a
                    family with a long history in Real Estate and based in Texas, Quick
                    Commission Advance is dedicated to providing customized commission advance
                    services for residential real estate brokers and agents. We understand the
                    importance of cash flow to commission-based, real estate professionals. Here
                    at Quick Commission Advance we have set a goal of closing the gap between
                    signing the deal and closing transactions freeing you to grow your business.
                    <br>


                </p>
            </div><!-- /.themesflat-headings -->

            <div class="themesflat-spacer clearfix" data-desktop="50" data-mobi="40" data-smobi="40"></div>
        </div><!-- /.col-md-12 -->
    </div>




    <!-- <section>
        <div class="container-fluid" style="background-color:#f7f7f7; padding-top: 20px; padding-bottom: 10px;">
            <div class="container">
                <h3 class="text-left" style="color: #737373; margin-left: 30px;">WHAT IS COMMISSION ADVANCE</h3>
            </div>
        </div>
    </section>

    <div class="container demo">
        <div class="row">

            <div class="col-md-6">
                <div class="demo1">
                    <h5 class="demo-title"><b>Quick Decisions & Fast Funding, <br> Simple Rate Structure</b></h5><br>
                    <p class="demo-body">A Commission Advance is a financial transaction where a real estate agent sells
                        a
                        portion of their pending commission at a discount, in exchange for immediate cash.</p>
                    <p class="demo-body">It is not a loan, but a service that allows agents to monetize a transaction
                        without
                        waiting until closing.</p>

                    <p class="demo-body">Why wait to get paid</p>

                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'home/img/001.png' %}" alt="Image" class="demo-img">
            </div>
        </div>


    </div>
    <section>
        <div class="container-fluid" style="background-color:#f7f7f7; padding-top: 20px; padding-bottom: 10px;">
            <div class="container">
                <h3 class="text-left" style="color: #737373; margin-left: 30px;">A FAST AND SIMPLE COMMISSION ADVANCE
                    SOLUTION </h3>
            </div>
        </div>
    </section>
    <div class="container demo">
        <div class="row">
            <div class="col-md-6">
                <div class="demo1">
                    <h5 class="demo-title"><b>We understand every realtor and every transaction is different</b></h5>
                    <h5 class="demo-body"><b>we use a risk based pricing plan to review each commission advance request
                            based
                            on:</b></h5>
                    <p class="demo-body">details of the transaction</p>
                    <p class="demo-body">The expected closing date</p>

                    <p class="demo-body">Your production history</p>
                    <p class="demo-body">Verification and analysis of availabe information</p>

                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'home/img/demo.jpg' %}" alt="Image" class="demo-img">
            </div>
        </div>
    </div>
    <section>
        <div class="container-fluid" style="background-color:#f7f7f7
            ; padding-top: 20px; padding-bottom: 10px;">
            <div class="container">
                <h3 class="text-left" style="color: #737373; margin-left: 30px;">FAST & CONFDENTIAL PROCESS WITH NO
                    CREDIT CHECK </h3>
            </div>
        </div>
    </section>
    <div class="container demo">
        <div class="row">
            <div class="col-md-6">
                <div class="demo1">
                    <h5 class="demo-title"><b>Receive up to 80% of oyur net commission to a maximum of $15,000 per
                            transactions</b></h5>

                    <p class="demo-body">Accessing your commission quickly can assist with achieving your goals
                        capitalizing on opportunities to grow your business</p>

                    <p class="demo-body">The funds are wired directly to your bank account</p>
                    <h5 class="demo-body"><b>No credit check</b></h5>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'home/img/003.jpg' %}" alt="Image" class="demo-img">
            </div>
        </div>

    </div>
    <section>
        <div class="container-fluid" style="background-color:#f7f7f7
            ; padding-top: 20px; padding-bottom: 10px; ;">
            <div class="container">
                <h3 class="text-left" style="color: #737373; margin-left: 70px;">HOW MUCH DOES IT COST?</h3>
            </div>
        </div>
    </section>

    <div class="container demo">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <img src="{% static 'home/img/girl.png' %}" alt="Image" class="demo-img">
            </div>
        </div>
    </div> -->

    <section>
        <div class="container-fluid" style="background-color:#f7f7f7; padding-top: 20px; padding-bottom: 10px;">
            <div class="container">
                <h3 class="text-left" style="color: #737373;">WHAT IS COMMISSION ADVANCE</h3>
            </div>
        </div>
    </section>
    <div class="container demo">
        <img src="{% static 'home/img/aboutUs1.jpg' %}" alt="Image" class="abc-img">
        <div class="abc-demo">
            <p class="demo-title"><b>Quick Decisions & Fast Funding, <br> Simple Rate Structure</b></p><br>
            <p class="demo-body">A Commission Advance is a financial transaction where a real estate agent sells
                a
                portion of their pending commission at a discount, in exchange for immediate cash.</p>
            <p class="demo-body">It is not a loan, but a service that allows agents to monetize a transaction
                without
                waiting until closing.</p>

            <p class="demo-body">Why wait to get paid.</p>
        </div>
    </div>
    <section>
        <div class="container-fluid" style="background-color:#f7f7f7; padding-top: 20px; padding-bottom: 10px;">
            <div class="container">
                <h3 class="text-left" style="color: #737373;">A FAST AND SIMPLE COMMISSION ADVANCE
                    SOLUTION </h3>
            </div>
        </div>
    </section>
    <div class="container demo">
        <img src="{% static 'home/img/aboutUs2.jpeg' %}" alt="Image" class="abc-img">
        <div class="abc-demo2">
            <p class="demo-title"><b>We understand every realtor and every transaction is different</b></p>
            <p class="demo-title"><b>We use a risk based pricing plan to review each commission advance request
                    based
                    on:</b></p>
            <p class="demo-body">Details of the transaction</p>
            <p class="demo-body">The expected closing date</p>

            <p class="demo-body">Your production history</p>
            <p class="demo-body">Verification and analysis of available information</p>
        </div>
    </div>
    <section>
        <div class="container-fluid" style="background-color:#f7f7f7; padding-top: 20px; padding-bottom: 10px;">
            <div class="container">
                <h3 class="text-left" style="color: #737373;">FAST & CONFIDENTIAL PROCESS WITH NO CREDIT CHECK</h3>
            </div>
        </div>
    </section>
    <div class="container demo">
        <img src="{% static 'home/img/aboutUs3.jpg' %}" alt="Image" class="abc-img">
        <div class="abc-demo3">
            <p class="demo-title"><b>Receive up to 80% of your net commission to a maximum of $15,000 per
                transaction</b></p>

        <p class="demo-body">Accessing your commission quickly can assist with achieving your goals
            capitalizing on opportunities to grow your business</p>

        <p class="demo-body">The funds are wired directly to your bank account</p>
        <p class="demo-title"><b>No credit check</b></p>
        </div>
    </div>
    <section>
        <div class="container-fluid" style="background-color:#f7f7f7; padding-top: 20px; padding-bottom: 10px;">
            <div class="container">
                <h3 class="text-left" style="color: #737373;">HOW MUCH DOES IT COST?</h3>
            </div>
        </div>
    </section>
    <div class="container demo">
        <img src="{% static 'home/img/ImageLady.jpeg' %}" alt="Image" class="abc-img">
        <div class="abc-demo3">
            <p class="demo-title"><b>Advances between $2,500 and $5,000 the fee is $500 when the closing us within 30 days</b></p>

        <p class="demo-body">Advances over $5,000 the fee is 10% when the closing is within 30 days</p>

        <p class="demo-body">Receive up to 80% of your net commission</p>
        <p class="demo-body">Discounts may be available for cash transactions or transactions with all contingencies removed</p>
        <p class="demo-body">No hidden fees</p>
        </div>
    </div>
    <style>
        .demo {
            text-align: center;
            font-family: Montserrat;
        }

        .demo1 {
            text-align: left;
        }
        .demo-title  {
            color: #000;
            line-height: 23px;
        }
        .demo1 p {
            font-size: 20px;
            font-family: inherit;
        }

        .abc-img {
            position: relative;
        }

        .abc-demo {
            position: absolute;
            top: 100px;
            left: 45px;
            text-align: left;
            font-size: 20px;
            width: 400px;
        }
        .abc-demo2 {
            position: absolute;
            top: 30px;
            left: 45px;
            text-align: left;
            font-size: 20px;
            width: 400px;
        }
        .abc-demo3 {
            position: absolute;
            top: 40px;
            left: 45px;
            text-align: left;
            font-size: 20px;
            width: 400px;
        }

        .demo-img {
            text-align: center;
            margin: 0;
            padding: 0;
        }
    </style>

   


    <div class="col-md-4">
        <div class="themesflat-image-box style-1 clearfix">
            <div class="item">
                <div class="inner">
                    <!-- <div class="text-wrap">
                                                    <div class="thumb"><img src="{% static 'home/img/imagebox/imagebox1.jpg' %}" alt="Image"></div>

                                                        <h3 class="title"><a target="_blank" href="">APPLY ONLINE</a></h3>

                                                        <div class="desc"> </div>
                                                    </div>-->
                </div>
            </div>
        </div><!-- /.themesflat-image-box -->

        <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div>
    </div><!-- /.col-md-4 -->

    <div class="col-md-4">
        <div class="themesflat-image-box style-1 clearfix">
            <div class="item">
                <!-- <div class="text-wrap">
                                                <div class="inner">
                                                    <div class="thumb"><img src="{% static 'home/img/imagebox/imagebox2.jpg' %}" alt="Image"></div>

                                                    <div class="text-wrap">
                                                        <h3 class="title"><a target="_blank" href="">PROJECT FINANCE</a></h3>

                                                        <div class="desc">Create a sustainable financing structure</div>
                                                    </div>
                                                </div>-->
            </div>
        </div><!-- /.themesflat-image-box -->

        <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="40"></div>
    </div><!-- /.col-md-4 -->

    <div class="col-md-4">
        <div class="themesflat-image-box style-1 clearfix">
            <div class="item">
                <div class="inner">
                    <!-- <div class="text-wrap">
                                                    <div class="thumb"><img src="{% static 'home/img/imagebox/imagebox3.jpg' %}" alt="Image"></div>

                                                    <div class="text-wrap">
                                                        <h3 class="title"><a target="_blank" href="">REAL ESTATE PLANNING</a></h3>

                                                        <div class="desc">How to finance your real estate investment</div>
                                                    </div>
                                                </div>-->
                </div>
            </div><!-- /.themesflat-image-box -->
        </div><!-- /.col-md-4 -->

        <div class="col-md-12">
            <div class="themesflat-spacer clearfix" data-desktop="90" data-mobi="60" data-smobi="60"></div>
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- END SERVICES IMAGEBOXS -->

{% endblock %}